$primary: #9356dc;
$secondaire: #ff79da;
$Tertiaire: #99e2d0;

/*Loader*/
@import "libs/loader.scss";

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
  width: 100%;
}

a {
  text-decoration: none;
  width: max-content;
}

.titre {
  font-family: "Shrikhand", cursive;
  font-weight: bold;
}

h2 {
  font-weight: 700;
}

.logo {
  font-family: "Shrikhand", cursive;
}

/*header*/
header {
  padding: 20px 0 10px 0;
  width: 100%;
  text-align: center;
}

/*First Section*/
.first_section {
  width: 100%;
}

/*Localisation*/
.localisation {
  width: 100%;
  padding: 10px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  padding: 20px 0 20px 0;
  background-color: #eaeaea;
  .fas {
    margin-right: 10px;
  }
  input {
    min-width: 120px;
    border-style: none;
    background-color: #eaeaea;
    text-align: center;
  }
}

/*Explorer*/
.explorer {
  padding: 40px 8% 20px 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  h1 {
    font-weight: bold;
    margin: 0%;
  }
  .btn_explorer {
    width: max-content;
    padding: 15px;
    margin: 20px 0 40px 0;
    border-radius: 30px;
    color: white;
    background: linear-gradient($secondaire, $primary);
    border-style: none;
    box-shadow: 0px 5px 10px 1px rgba($color: black, $alpha: 0.2);

    &:hover {
      cursor: pointer;
      filter: brightness(1.1);
      box-shadow: 0px 5px 10px 2px rgba($color: black, $alpha: 0.3);
    }
  }
}

/*Steps Fonctionnement*/
.box_steps {
  padding: 0 5% 0 5%;
  h2 {
    margin-top: 40px;
  }
  .steps {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 20px 0 20px 4%;
    background-color: #f6f6f6;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 1px rgba($color: #000000, $alpha: 0.1);
  }
  .number_steps {
    padding: 10px;
    color: white;
    background-color: $primary;
    clip-path: circle(40%);
    position: relative;
    left: -15px;
  }
  .fa-store {
    color: $primary;
  }
  .fas {
    margin-right: 20px;
  }
  .fas-color {
    color: #7e7e7e;
  }
}

#last_step {
  background-color: lighten($color: $primary, $amount: 35%);
}

/*Section Restaurant*/
.restaurant {
  width: 90%;
  background-color: #f6f6f6;
  padding-bottom: 40px;
  padding: 5%;
}

.border-cards {
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0%;
}

.box_cards {
  display: block;
  width: 100%;
  height: auto;
}

.cards {
  width: 100%;
  height: 250px;
  margin-bottom: 50px;
  color: black;
  background-color: white;
  border-radius: 20px;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 30px 5px 1px rgba($color: black, $alpha: 0.1);
}
.img_cards {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: center center;
  image-rendering: $Tertiaire;
  border-radius: 20px 20px 0 0;
}
.text_cards {
  background-color: white;
  border-radius: 0 0 20px 20px;
  height: 20%;
  width: auto;
  padding: 20px 20px 0 20px;
  line-height: 0.4em;
  text-align: start;
  display: flex;
  justify-content: space-between;
  h4 {
    margin: 0%;
  }
}
.fa-gradient {
  display: block;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from($primary),
    to($secondaire)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-transform {
  position: absolute;
  right: 30px;
  bottom: 0px;
  z-index: 4;
  .far {
    background-color: white;
    position: absolute;
  }
  .far:hover {
    cursor: pointer;
  }
  .fas:hover {
    cursor: pointer;
  }
}

#proof-1 {
  display: none;
}
#proof-1:checked {
  + #cube1 {
    display: none;
  }
}
#proof-2 {
  display: none;
}
#proof-2:checked {
  + #cube3 {
    display: none;
  }
}
#proof-3 {
  display: none;
}
#proof-3:checked {
  + #cube5 {
    display: none;
  }
}
#proof-4 {
  display: none;
}
#proof-4:checked {
  + #cube7 {
    display: none;
  }
}

.etiquette {
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 4;
  background-color: $Tertiaire;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: darken($color: $Tertiaire, $amount: 35);
}

/*Section footer*/
footer {
  background-color: #353535;
  color: white;
  width: 100%;
  padding: 20px 0 20px 0;
  .text_footer {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    #icon_footer {
      filter: invert(1);
      width: 100px;
      margin: 20px 0 20px 0;
    }
  }
}
.style-footer {
  color: white;
  margin-bottom: 5px;
  .fa-sm {
    margin-right: 10px;
  }
  .fa-hands-helping {
    width: 10px;
  }
}

/*Style version destop*/

@media screen and (min-width: 1024px) {
  header {
    text-align: center;
    width: 100%;
    z-index: 1;
    box-shadow: 1px 1px 5px 2px rgba($color: black, $alpha: 0.2);
    img {
      width: 50%;
    }
  }
  /*Section Steps*/
  .box_steps {
    display: flex;
    align-items: center;
    h2 {
      margin: 0%;
    }
    .steps {
      padding: 0 30px 0 0;
    }
  }

  /*Section Restaurant & Cards*/
  .restaurant {
    background-color: white;
    width: 98%;
    padding: 1%;
    text-align: center;
  }
  .box_cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .border-cards {
      width: 24%;
    }
  }
  .icon-transform {
    position: absolute;
    bottom: 50px;
    z-index: 4;
  }

  footer {
    padding: 20px 0 40px 0;
    .text_footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 0%;
      #icon_footer {
        margin-top: 4px;
        margin-bottom: 0%;
      }
    }
  }
}
