@media screen and (min-width : 1024px){

   .main-section{
       padding-bottom: 30px;
       .btn-background{
           
       }
   }
#card-menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    .section-choice-menu{
        width: 40%;
    }

}

}