

/*Style-menu1*/
$primary:#9356DC;
$secondaire:#FF79DA;
$Tertiaire:#99E2D0;


h1{
    font-family: 'Shrikhand',sans-serif;
    font-weight: lighter;
}

#icon-h1{
    margin-right: 20px;
}

body{
    font-family: 'roboto';
    margin: 0%;
}
h2{
    font-weight: 300;
    font-size: 1em;
    padding-bottom: 10px;
    border-bottom: 4px solid $Tertiaire;
    width: 40px;
    margin-left: 25px;
    text-transform:uppercase;
}

a{
    text-decoration: none;
}

header {
    padding: 20px;
    z-index: 1;
    box-shadow: 1px 1px 5px 2px rgba($color: black, $alpha: 0.2);
    a{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;left:0px;top:0px;
        i{
            position: absolute;
            left: 10px;
        }
    }
}

.main-section{
    background-color: #f6f6f6;
    width: 100%;
}

.head-menu{
    display: flex;
    flex-direction: column;
    #box-image{
        width:100%;
        height: 300px;
        overflow: hidden;
        z-index: 0;
        #back-image{
        width: 100%;
       height: 100%;
       object-fit: cover;
       object-position: center center;
        }
    }   
    .title-head{
        width: auto;
        margin-top: -60px;
        padding: 40px 20px 0 20px;
        border-radius: 50px 50px 0 0;
        background-color: #f6f6f6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        }
}

@import"libs/icon-heart.scss";


/*Section choice*/
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .choice{
        width: 90%;
        height: 4em;
        background-color: white;
        border-radius: 15px;
        margin-bottom: 10px;
        box-shadow: 0px 5px 10px 1px rgba($color: #000000, $alpha: 0.1);
        overflow: hidden;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        }
        .anime-1{
            animation-name: move-choice;
            animation-duration: 0.5s;
            animation-delay: 0s;
        }
        .anime-2{
            animation-name: move-choice;
            animation-duration: 1s;
            animation-delay: 0s;
        }
        .anime-3{
            animation-name: move-choice;
            animation-duration: 1.5s;
            animation-delay: 0s;
        }
        .anime-4{
            animation-name: move-choice;
            animation-duration: 2s;
            animation-delay: 0s;
        }

        @keyframes move-choice{
            from{
                transform: translateY(10px);
                opacity: 0;
            }
            to{
                transform: translate(0);
                opacity: 1;
            }
        }
        

.choice:hover{
    .validation{
    transform: translate(-70px); 
    }
    .container-text{
        width: calc(100% - 120px);
        transition: 0.5s;
    }
    .fa-check-circle{
        transform: rotate(360deg);
        transition: 0.5s;
    }
}

.validation{
    background-color: $Tertiaire;
    height: 100%;
    width: 70px;
    border-radius: 0 15px 15px 0;
    transition:transform 0.5s;
    position: absolute;
    right: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    .fa-check-circle{
        color: white;
        transform:rotate (0deg);
        transition: 0.5s;
    }
}

.container-text{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px;
    transition: 1s;
    .title-cards{
        margin: 0%;
    }
    .text-cards{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0%;
        p{
            margin-top: 1%;
            margin-bottom: 0%;
            font-size: small;
        }
        .prix{
            margin: 0 20px 0 20px;
            font-weight: bold;
            color: #353535;
        }
    }
}
.text-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#position-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
}
@import "libs/btn-background.scss";

/*Section footer*/
footer{
    background-color: #353535;
    color: white;
    width: 100%;
    padding: 20px 0 20px 0;
        .text_footer{
            display: flex;
            flex-direction: column;
            padding-left: 5%;
            a{
                color: white;
            }
            #icon_footer{
                filter: invert(1);
                width: 100px;
                margin-bottom: 20px;
            }
            .link-footer{
                margin-bottom: 10px;
            }
            .fa-sm{
                width: 20px;
            }
    }
}