
$primary:#9356DC;
$secondaire:#FF79DA;
$Tertiaire:#99E2D0;

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
}

a{
    text-decoration: none;
    color: white;
}

.titre{
    font-family: 'Shrikhand', cursive;
    font-weight: bold;
}

h2{
    font-weight: 700;
}

.logo{
    font-family: 'Shrikhand', cursive;
}

/*header*/
header{
    padding-top: 20px;
}

/*Localisation*/
.localisation{
    margin:10px 0px 0px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    background-color: #eaeaea;
    .fas{
        margin-right: 10px;
    }
    input{
        border-style: none;
        background-color: #eaeaea;
        text-align: center;
    }
}

/*Explorer*/
.explorer{
    padding: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;
        h1{
            font-weight: bold;
            margin: 0%;
    }
        .btn_explorer{
           padding:10px;
           border-radius: 20px;
           color: white;
           background: linear-gradient($secondaire,$primary);
           border-style: none;
    }
}

/*Steps Fonctionnement*/


.box_steps {
    padding: 0 5% 0 5%;
        div{
            display: flex;
            align-items: center;
         }
        .number_steps{
            padding: 10px;
            color: white;
            background-color: $primary;
            clip-path:circle(40%);
        }
}


/*Section footer*/
footer{
    background-color: #353535;
    color: white;
    width: 100%;
    padding: 0 20px  20px 0;
        .text_footer{
            display: flex;
            flex-direction: column;
            padding-left: 5%;
                #icon_footer{
                    filter: invert(1);
                    width: 100px;
                    margin: 20px 0 20px 0 ;
    }
    }
}
