

/*Style-menu1*/
$primary:#9356DC;
$secondaire:#FF79DA;
$Tertiaire:#99E2D0;


h1{
    font-family: 'Shrikhand',sans-serif;
}

body{
    font-family: 'roboto';
}
h2{
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 2px solid $Tertiaire;

}

a{
    text-decoration: none;
}

header {
    padding: 20px;
    a{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;left:0px;top:0px;
        i{
            position: absolute;
            left: 10px;
        }
    }
}

.main-section{
    background-color: #f6f6f6;
}

.border{
padding: 0 20px 0 20px;
}


.head-menu{
    display: flex;
    background-image: url(https://raw.githubusercontent.com/AlexPYgit/AlexisPAYET_3_20012021/master/Maquettes%20Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size:100%;
    background-position: center;
    object-fit: cover;
    size: 100%;
    height: 20em;
    align-items: flex-end;
    background-color: #f6f6f6;
    .title-head{
        width: 100%;
        margin: 0%;
        padding: 40px 20px 0 20px;
        border-radius: 40px 40px 0 0;
        background-color: #f6f6f6;
    }
}

/*Section plats*/
.section-plats{
    border: 1px solid black;
}



/*Entrées*/
.container-entrées{
    width: 100%;
    overflow: hidden;
    .entrées{
        width: 100%;
        height: 5em;
        background-color: white;
        border-radius: 15px;
        margin-bottom: 10px;
        box-shadow: 0px 5px 10px 1px rgba($color: #000000, $alpha: 0.1);
        border: 1px solid yellow;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        }
}

.entrées:hover{
    .validation{
    transform: translate(-70px); 
    }
    .container-text{
        width: calc(100% - 70px);
        transition: 0.5s;
    }
    .fa-check-circle{
        transform: rotate(360deg);
        transition: 0.5s;
    }
}

.container-text{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    line-height: 0.5em;
    transition: 1s;
    .title-cards{
        margin: 15px;
    }
    .text-cards{
        display: flex;
        justify-content: space-between;
        margin: 15px;
    }
}

.validation{
    background-color: $Tertiaire;
    height: 5em;
    width: 70px;
    border-radius: 0 15px 15px 0;
    transition:transform 0.5s;
    position: absolute;
    right: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    .fa-check-circle{
        color: white;
        transform:rotate (0deg);
        transition: 0.5s;
    }
}

@import "libs/btn-background.scss";

/*Section footer*/
footer{
    background-color: #353535;
    color: white;
    width: 100%;
    padding: 0 20px  20px 0;
        .text_footer{
            display: flex;
            flex-direction: column;
            padding-left: 5%;
            a{
                color: white;
            }
                #icon_footer{
                    filter: invert(1);
                    width: 100px;
                    margin: 20px 0 20px 0 ;
        }
    }
}