body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
  width: 100%;
}

a {
  text-decoration: none;
  width: max-content;
}

.titre {
  font-family: "Shrikhand", cursive;
  font-weight: bold;
}

h2 {
  font-weight: 700;
}

.logo {
  font-family: "Shrikhand", cursive;
}

/*header*/
header {
  padding: 20px 0 10px 0;
  width: 100%;
  text-align: center;
}

/*First Section*/
.first_section {
  width: 100%;
}

/*Localisation*/
.localisation {
  width: 100%;
  padding: 10px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 20px 0 20px 0;
  background-color: #eaeaea;
}
.localisation .fas {
  margin-right: 10px;
}
.localisation input {
  border-style: none;
  background-color: #eaeaea;
  text-align: center;
}

/*Explorer*/
.explorer {
  padding: 40px 8% 20px 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}
.explorer h1 {
  font-weight: bold;
  margin: 0%;
}
.explorer .btn_explorer {
  width: max-content;
  padding: 15px;
  margin: 20px 0 40px 0;
  border-radius: 30px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-style: none;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
}
.explorer .btn_explorer:hover {
  cursor: pointer;
}

/*Steps Fonctionnement*/
.box_steps {
  padding: 0 5% 0 5%;
}
.box_steps h2 {
  margin-top: 40px;
}
.box_steps .steps {
  display: flex;
  align-items: center;
  margin: 20px 0 20px 4%;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
}
.box_steps .number_steps {
  padding: 10px;
  color: white;
  background-color: #9356DC;
  clip-path: circle(40%);
  position: relative;
  left: -15px;
}
.box_steps .fa-store {
  color: #9356DC;
}
.box_steps .fas {
  margin-right: 20px;
}

#last_step {
  background-color: #f2eafb;
}

/*Section Restaurant*/
.restaurant {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.border-cards {
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0%;
}

.box_cards {
  display: block;
  width: 90%;
  height: auto;
}

.cards {
  width: 100%;
  height: 250px;
  margin-bottom: 50px;
  color: black;
  background-color: white;
  border-radius: 20px;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 30px 10px 1px rgba(0, 0, 0, 0.2);
}

.img_cards {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: center center;
  image-rendering: #99E2D0;
  border-radius: 20px 20px 0 0;
}

.text_cards {
  background-color: white;
  border-radius: 0 0 20px 20px;
  height: 20%;
  width: auto;
  padding: 20px 20px 0 20px;
  line-height: 0.4em;
  display: flex;
  justify-content: space-between;
}
.text_cards h4 {
  margin: 0%;
}

.fa-gradient {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-transform {
  position: absolute;
  right: 30px;
  bottom: 0px;
  z-index: 4;
}
.icon-transform .far {
  background-color: white;
  position: absolute;
}
.icon-transform .far:hover {
  cursor: pointer;
}
.icon-transform .fas:hover {
  cursor: pointer;
}

#proof-1 {
  display: none;
}

#proof-1:checked + #cube1 {
  display: none;
}

#proof-2 {
  display: none;
}

#proof-2:checked + #cube3 {
  display: none;
}

#proof-3 {
  display: none;
}

#proof-3:checked + #cube5 {
  display: none;
}

#proof-4 {
  display: none;
}

#proof-4:checked + #cube7 {
  display: none;
}

/*https://codepen.io/Chesswithsean/post/click-in-pure-css lien pour changer l'icon au clic
    https://enmascript.com/articles/2019/09/26/toggle-content-on-click-without-javascript lien pour changer l'icon au click
https://stackoverflow.com/questions/12732663/text-gradient-with-font-awesome lien pour les icon gradient*/
.etiquette {
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 4;
  background-color: #99E2D0;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #2c9c81;
}

/*Section footer*/
footer {
  background-color: #353535;
  color: white;
  width: 100%;
  padding: 20px 0 20px 0;
}
footer .text_footer {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}
footer .text_footer #icon_footer {
  filter: invert(1);
  width: 100px;
  margin: 20px 0 20px 0;
}

.style-footer {
  color: white;
  margin-bottom: 5px;
}

/*Style version destop*/
@media screen and (min-width: 1024px) {
  header {
    text-align: center;
    width: 100%;
  }
  header img {
    width: 50%;
  }

  /*Section Steps*/
  .box_steps {
    display: flex;
    align-items: center;
  }
  .box_steps h2 {
    margin: 0%;
  }
  .box_steps .steps {
    padding: 0 30px 0 0;
  }

  /*Section Restaurant & Cards*/
  .restaurant {
    background-color: white;
  }

  .box_cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .box_cards .border-cards {
    width: 24%;
  }

  .icon-transform {
    position: absolute;
    bottom: 50px;
    z-index: 4;
  }

  footer {
    flex-direction: row;
  }
}

/*# sourceMappingURL=Style.css.map */
