/*Loader*/
/*Loader*/
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid;
  padding: 2em 4em 2em 4em;
  border-radius: 2.5em;
  border-width: 1em;
  border-color: rgba(0, 0, 0, 0.2);
  z-index: 200;
}

.ball {
  width: 10%;
  border-radius: 1em;
  text-align: center;
  font-size: 1em;
  padding: 0.2em;
  width: 1.5em;
  height: 1.5em;
  border-style: none;
  margin: 1em;
  animation: ani 0.5s infinite;
  font-family: "Shrikhand";
  transition: all 1s ease-in-out;
}

#ball-1 {
  animation: ani1 1.25s infinite;
}

#ball-2 {
  animation: ani2 1.25s infinite;
}

#ball-3 {
  animation: ani3 1.25s infinite;
}

#ball-4 {
  animation: ani4 1.25s infinite;
}

#ball-5 {
  animation: ani5 1.25s infinite;
}

#ball-6 {
  animation: ani6 1.25s infinite;
}

#ball-7 {
  animation: ani7 1.25s infinite;
}

#ball-8 {
  animation: ani8 1.25s infinite;
}

@keyframes ani1 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.5);
    background: rgba(0, 0, 0, 0.1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ani2 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.5);
    background: rgba(0, 0, 0, 0.1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ani3 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.5);
    background: rgba(0, 0, 0, 0.1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ani4 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.5);
    background: rgba(0, 0, 0, 0.1);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ani5 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    background: rgba(0, 0, 0, 0.1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ani6 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.5);
    background: rgba(0, 0, 0, 0.1);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ani7 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.5);
    background: rgba(0, 0, 0, 0.1);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ani8 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.5);
    background: rgba(0, 0, 0, 0.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
/*animate spinner*/
#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
/*animate spinner ned*/
@media screen and (max-width: 640px) {
  .ball {
    font-size: 0.5em;
    padding: 0.2em;
    width: 0.75em;
    height: 0.75em;
    margin: 0.5em;
    /*x-transition: all 1s ease-in-out;*/
  }

  .container {
    border: solid;
    padding: 1em 2em 1em 2em;
    border-radius: 1.25em;
    border-width: 0.5em;
    border-color: rgba(0, 0, 0, 0.2);
  }
}
/*Loader end*/
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
  width: 100%;
}

a {
  text-decoration: none;
  width: max-content;
}

.titre {
  font-family: "Shrikhand", cursive;
  font-weight: bold;
}

h2 {
  font-weight: 700;
}

.logo {
  font-family: "Shrikhand", cursive;
}

/*header*/
header {
  padding: 20px 0 10px 0;
  width: 100%;
  text-align: center;
}

/*First Section*/
.first_section {
  width: 100%;
}

/*Localisation*/
.localisation {
  width: 100%;
  padding: 10px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 20px 0 20px 0;
  background-color: #eaeaea;
}
.localisation .fas {
  margin-right: 10px;
}
.localisation input {
  min-width: 120px;
  border-style: none;
  background-color: #eaeaea;
  text-align: center;
}

/*Explorer*/
.explorer {
  padding: 40px 8% 20px 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}
.explorer h1 {
  font-weight: bold;
  margin: 0%;
}
.explorer .btn_explorer {
  width: max-content;
  padding: 15px;
  margin: 20px 0 40px 0;
  border-radius: 30px;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  border-style: none;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
}
.explorer .btn_explorer:hover {
  cursor: pointer;
  filter: brightness(1.1);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

/*Steps Fonctionnement*/
.box_steps {
  padding: 0 5% 0 5%;
}
.box_steps h2 {
  margin-top: 40px;
}
.box_steps .steps {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 20px 0 20px 4%;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
}
.box_steps .number_steps {
  padding: 10px;
  color: white;
  background-color: #9356dc;
  clip-path: circle(40%);
  position: relative;
  left: -15px;
}
.box_steps .fa-store {
  color: #9356dc;
}
.box_steps .fas {
  margin-right: 20px;
}
.box_steps .fas-color {
  color: #7e7e7e;
}

#last_step {
  background-color: #f2eafb;
}

/*Section Restaurant*/
.restaurant {
  width: 90%;
  background-color: #f6f6f6;
  padding-bottom: 40px;
  padding: 5%;
}

.border-cards {
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0%;
}

.box_cards {
  display: block;
  width: 100%;
  height: auto;
}

.cards {
  width: 100%;
  height: 250px;
  margin-bottom: 50px;
  color: black;
  background-color: white;
  border-radius: 20px;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 30px 5px 1px rgba(0, 0, 0, 0.1);
}

.img_cards {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: center center;
  image-rendering: #99e2d0;
  border-radius: 20px 20px 0 0;
}

.text_cards {
  background-color: white;
  border-radius: 0 0 20px 20px;
  height: 20%;
  width: auto;
  padding: 20px 20px 0 20px;
  line-height: 0.4em;
  text-align: start;
  display: flex;
  justify-content: space-between;
}
.text_cards h4 {
  margin: 0%;
}

.fa-gradient {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-transform {
  position: absolute;
  right: 30px;
  bottom: 0px;
  z-index: 4;
}
.icon-transform .far {
  background-color: white;
  position: absolute;
}
.icon-transform .far:hover {
  cursor: pointer;
}
.icon-transform .fas:hover {
  cursor: pointer;
}

#proof-1 {
  display: none;
}

#proof-1:checked + #cube1 {
  display: none;
}

#proof-2 {
  display: none;
}

#proof-2:checked + #cube3 {
  display: none;
}

#proof-3 {
  display: none;
}

#proof-3:checked + #cube5 {
  display: none;
}

#proof-4 {
  display: none;
}

#proof-4:checked + #cube7 {
  display: none;
}

.etiquette {
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 4;
  background-color: #99e2d0;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #2c9c81;
}

/*Section footer*/
footer {
  background-color: #353535;
  color: white;
  width: 100%;
  padding: 20px 0 20px 0;
}
footer .text_footer {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}
footer .text_footer #icon_footer {
  filter: invert(1);
  width: 100px;
  margin: 20px 0 20px 0;
}

.style-footer {
  color: white;
  margin-bottom: 5px;
}
.style-footer .fa-sm {
  margin-right: 10px;
}
.style-footer .fa-hands-helping {
  width: 10px;
}

/*Style version destop*/
@media screen and (min-width: 1024px) {
  header {
    text-align: center;
    width: 100%;
    z-index: 1;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  }
  header img {
    width: 50%;
  }

  /*Section Steps*/
  .box_steps {
    display: flex;
    align-items: center;
  }
  .box_steps h2 {
    margin: 0%;
  }
  .box_steps .steps {
    padding: 0 30px 0 0;
  }

  /*Section Restaurant & Cards*/
  .restaurant {
    background-color: white;
    width: 98%;
    padding: 1%;
    text-align: center;
  }

  .box_cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .box_cards .border-cards {
    width: 24%;
  }

  .icon-transform {
    position: absolute;
    bottom: 50px;
    z-index: 4;
  }

  footer {
    padding: 20px 0 40px 0;
  }
  footer .text_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
  }
  footer .text_footer #icon_footer {
    margin-top: 4px;
    margin-bottom: 0%;
  }
}

/*# sourceMappingURL=Style.css.map */
